nav{
    display: flex;
    flex: content;
    flex-flow: column;
}
li{
    flex-flow: row;
}

body {
    background-color: aqua;

}
form{
    size: 440px;
}
div#news details{
    display: flex;
    flex-wrap: nowrap;

}
div#news{
    width:300px;
    float: left;
    justify-content: space-evenly;
}
img{
    max-width: 240px;

}